{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}

<f:if condition="{image}">

    <a href="{media:uri.image(image:'{image}')}">
        <img src="{media:uri.image(image:'{image}',maximumWidth:'{thumbWidth}',maximumHeight:'{thumbHeight}')}"
             data-title="{title}" data-description="{description}"/>
        <f:if condition="{hasLayer}">
            <div class="layer">
                {neos:contentElement.editable(property: 'layer', node: node)}
            </div>
        </f:if>
    </a>

</f:if>
