{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}


<f:if condition="{url}">

        <a href="{url}">
            <f:if condition="{image}">
                <f:then>
                    <img src="{media:uri.image(image:'{image}',maximumWidth:'{thumbWidth}',maximumHeight:'{thumbHeight}')}"
                           data-title="{title}" data-description="{description}"/>
                    <f:if condition="{hasLayer}">
                        <div class="layer">
                            {neos:contentElement.editable(property: 'layer', node: node)}
                        </div>
                    </f:if>
                </f:then>
                <f:else>
                    <span class="{f:if(condition:'{isIframe}',then:'iframe data',else:'video data')}" data-title="{title}"
                          data-description="{description}">Watch this</span>
                    <f:if condition="{hasLayer}">
                        <div class="layer">
                            {neos:contentElement.editable(property: 'layer', node: node)}
                        </div>
                    </f:if>
                </f:else>
            </f:if>
        </a>

</f:if>

